{% extends "base.html" %}
{% load custom_filters %}
{% block content %}

<table class="table table-bordered">
    <tr>
        <th>S.I.</th>
        <th>Title</th>
        <!-- <th>Body</th> -->
        <th colspan="2">Action</th>
    </tr>

    {% for blog in blogs %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td><a href="{% url 'blog_detail' blog.slug %}">{{blog.title}}</a></td>
        <!-- <td>{{ blog.body|truncate_words:3|safe }}</td> -->
        <td><a href="{% url 'blog_update' blog.slug %}">Edit</a></td>
        <td><a href="{% url 'blog_delete' blog.slug %}">Delete</a></td>
    </tr>
    
{% endfor %} 
</table>
{% endblock %}
